{% extends 'parser_app/base.html' %}
{% block content %}

<div class="card" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="card-body">
        <h4 class="card-title"><b>Product Parsings</b></h4>
        <a href="{% url 'parser-product-parse' %}" class="btn btn-success">Add new</a>
    </div>
</div>
{% for item in items %}
<ul class="list-group">
    <li class="list-group-item" style="margin-bottom: 30px;">
        <div class="card-body" style="padding-left: 0rem; padding-bottom: 0.5rem; padding-top: 0.5rem;">
            <h5 class="card-text"><b>Product:</b> {{ item.product }}</h5>
            <h5 class="card-text"><b>Region:</b> {{ item.region }}</h5>
            <h5 class="card-text"><b>Start date:</b> {{ item.start_date }}</h5>
            <h5 class="card-text"><b>End date:</b> {{ item.end_date }}</h5>
            <h5 class="card-text"><b>Status:</b> {{ item.status }}</h5>
            <h5 class="card-text"><b>Result file:</b> {{ item.result_file }}</h5>
            <h5 class="card-text"><b>Comment:</b> {{ item.comment }}</h5>
            <h5 class="card-text"><b>Error:</b> {{ item.error }}</h5>
            <h5 class="card-text"><b>Duration:</b> {{ item.duration }}</h5>
        </div>

    </li>
</ul>
{% endfor %}

{% endblock content %}
