[Unit]
Description=Rocket Web App
Requires=docker.service
After=docker.service

[Service]
User=dkarpov
;Group=dkarpov
Type=simple
RemainAfterExit=true
ExecStart=/home/dkarpov/projects/self/rocket/service_up.sh
ExecStop=/home/dkarpov/projects/self/rocket/service_down.sh

[Install]
WantedBy=multi-user.target
